<h2 class="text-center my-4"><%= @user.username %>'s profile</h2>
<%= gravatar_for @user, size: 200 %>

<% if @user == current_user || current_user.admin? %>
    <div class="text-center mt-4">
        <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-info" %>
    </div>
<% end %>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<h3 class="text-center my-4">Articles</h3>
<%= render "articles/articles", articles: @articles %>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>